*{
    margin: 0;
    
}
nav{
    width: 100%;
    height: 75px;
    background-color: rgb(40, 40, 118);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    
}
.logo{
    padding-top: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding-top: 15px;
    font-weight: bold;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: yellow;
    transition: .4s;

}
.navbar{
    display: flex;
    padding-top: 10px;
}

.content{
    width: 100%;
    height: 450px;
    background-color:rgb(40, 40, 118);
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: space-between;
}
.words {
    padding-left: 250px;
    padding-top: 65px;
   
}
.content .words h1{
    color: rgb(190, 190, 213);
    padding-bottom: 15px;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
}
.content .words p{
    padding-bottom: 10px;
    padding-left: 45px;
    padding-top: 15px;
    color:white;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.content .words ul li{
    padding-left: 60px;
    list-style: none;
    margin: 10px;
    color: rgb(232, 182, 182);
    font-size: 21px;
    font-weight:bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.form{
    padding-right: 300px;
    padding-top: 65px;
}
.form h1{
    color: rgb(135, 189, 247);
    justify-content:center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px;
    
}
input {
    background-color: rgba(135, 189, 247, 0.097);
    border: 2px solid rgba(0, 0, 0, 0.354);
    padding-left: 150px;
    border-radius: 5px;
}
.form p{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    letter-spacing: 3px;
}
span {
    color: yellow;
    font-weight: bold;
}
footer {
    height: 200px;
    background-color:rgb(135, 189, 247);
}